<div class="Header">
    <div class="Navigation">
        <div class="Avater">
            <a href="javascript:void(0);">
                <p>Tony Stark <span>Available</span></p>
                <figure><img src="assets/imgs/profile.jpg"></figure>
            </a>
            <ul>
                <li>
                    <figure><img src="assets/imgs/profile.jpg"></figure>
                    <h4>Tony Stark <span> Admin</span></h4>
                </li>
               <li><a  [routerLink]="['/profile']" ><span><i class="fa fa-user"></i></span> My Profile</a></li>
                <li><a [routerLink]="['/change-password']"><span><i class="fa fa-cog"></i></span> Change Password</a></li>
                <li><a  [routerLink]="['/']" ><span><i class="fa fa-sign-out"></i></span> Logout</a></li>
            </ul>
        </div>
    </div>
</div>