<app-header></app-header>
<app-sidenav></app-sidenav>
<div class="MainMargin">
    <div class="mainHead">
        <h4 class="Title">Post Management</h4>
    </div>
    <div class="marginInner">
        <div class="DashboardArea">

            <div class="sideBtn DisFlex FixSearch">
                <div class="form-group" style="position: relative;">
                    <input type="text" class="form-control" style="padding-right: 30px;" placeholder="Search" name="" id="">
                    <a href="javaScript:void(0)" class="SearchAbsolute"><img src="assets/imgs/search.svg" style="width: 16px;" alt="rotate-left" class="img-fluid"></a>
                </div>
            </div>

            <div class="TableList">
                <div class="dragscroll">
                    <table id="example" class="table table-bordered " cellpadding="0" width="100%">
                        <thead>
                            <tr>
                                <th>S.No</th>
                                <th>User ID</th>
                                <th>Username</th>
                                <th>Post Description</th>
                                <th>Post Image</th>
                                <th>Post type</th>
                                <th>Uploaded On</th>
                                <th>Likes </th>
                                <th>Dislikes </th>
                                <th>Comments </th>
                                <th>action </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>UD-64</td>
                                <td>VisHu</td>
                                <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod</td>
                                <td class="postImg"><img src="assets/imgs/profile.jpg" alt="" class="img-fluid"></td>
                                <td>Public</td>
                                <td>2h ago</td>
                                <td>132</td>
                                <td>132</td>
                                <td>132</td>
                                <td class="ActionImg">
                                    <a [routerLink]="['/post-management-detail']">
                                        <img src="assets/imgs/eye.svg" alt="">
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>UD-64</td>
                                <td>VisHu</td>
                                <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod</td>
                                <td class="postImg"><img src="assets/imgs/profile.jpg" alt="" class="img-fluid"></td>
                                <td>Public</td>
                                <td>2h ago</td>
                                <td>132</td>
                                <td>132</td>
                                <td>132</td>
                                <td class="ActionImg">
                                    <a [routerLink]="['/post-management-detail']">
                                        <img src="assets/imgs/eye.svg" alt="">
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>UD-64</td>
                                <td>VisHu</td>
                                <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod</td>
                                <td class="postImg"><img src="assets/imgs/profile.jpg" alt="" class="img-fluid"></td>
                                <td>Public</td>
                                <td>2h ago</td>
                                <td>132</td>
                                <td>132</td>
                                <td>132</td>
                                <td class="ActionImg">
                                    <a [routerLink]="['/post-management-detail']">
                                        <img src="assets/imgs/eye.svg" alt="">
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>4</td>
                                <td>UD-64</td>
                                <td>VisHu</td>
                                <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod</td>
                                <td class="postImg"><img src="assets/imgs/profile.jpg" alt="" class="img-fluid"></td>
                                <td>Public</td>
                                <td>2h ago</td>
                                <td>132</td>
                                <td>132</td>
                                <td>132</td>
                                <td class="ActionImg">
                                    <a [routerLink]="['/post-management-detail']">
                                        <img src="assets/imgs/eye.svg" alt="">
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>5</td>
                                <td>UD-64</td>
                                <td>VisHu</td>
                                <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod</td>
                                <td class="postImg"><img src="assets/imgs/profile.jpg" alt="" class="img-fluid"></td>
                                <td>Public</td>
                                <td>2h ago</td>
                                <td>132</td>
                                <td>132</td>
                                <td>132</td>
                                <td class="ActionImg">
                                    <a [routerLink]="['/post-management-detail']">
                                        <img src="assets/imgs/eye.svg" alt="">
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>6</td>
                                <td>UD-64</td>
                                <td>VisHu</td>
                                <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod</td>
                                <td class="postImg"><img src="assets/imgs/profile.jpg" alt="" class="img-fluid"></td>
                                <td>Public</td>
                                <td>2h ago</td>
                                <td>132</td>
                                <td>132</td>
                                <td>132</td>
                                <td class="ActionImg">
                                    <a [routerLink]="['/post-management-detail']">
                                        <img src="assets/imgs/eye.svg" alt="">
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>7</td>
                                <td>UD-64</td>
                                <td>VisHu</td>
                                <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod</td>
                                <td class="postImg"><img src="assets/imgs/profile.jpg" alt="" class="img-fluid"></td>
                                <td>Public</td>
                                <td>2h ago</td>
                                <td>132</td>
                                <td>132</td>
                                <td>132</td>
                                <td class="ActionImg">
                                    <a [routerLink]="['/post-management-detail']">
                                        <img src="assets/imgs/eye.svg" alt="">
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>8</td>
                                <td>UD-64</td>
                                <td>VisHu</td>
                                <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod</td>
                                <td class="postImg"><img src="assets/imgs/profile.jpg" alt="" class="img-fluid"></td>
                                <td>Public</td>
                                <td>2h ago</td>
                                <td>132</td>
                                <td>132</td>
                                <td>132</td>
                                <td class="ActionImg">
                                    <a [routerLink]="['/post-management-detail']">
                                        <img src="assets/imgs/eye.svg" alt="">
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>9</td>
                                <td>UD-64</td>
                                <td>VisHu</td>
                                <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod</td>
                                <td class="postImg"><img src="assets/imgs/profile.jpg" alt="" class="img-fluid"></td>
                                <td>Public</td>
                                <td>2h ago</td>
                                <td>132</td>
                                <td>132</td>
                                <td>132</td>
                                <td class="ActionImg">
                                    <a [routerLink]="['/post-management-detail']">
                                        <img src="assets/imgs/eye.svg" alt="">
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>10</td>
                                <td>UD-64</td>
                                <td>VisHu</td>
                                <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod</td>
                                <td class="postImg"><img src="assets/imgs/profile.jpg" alt="" class="img-fluid"></td>
                                <td>Public</td>
                                <td>2h ago</td>
                                <td>132</td>
                                <td>132</td>
                                <td>132</td>
                                <td class="ActionImg">
                                    <a [routerLink]="['/post-management-detail']">
                                        <img src="assets/imgs/eye.svg" alt="">
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="pagination">
                <div class="record">
                    <p>Total Records: <span class="orGread">10</span></p>
                </div>
                <div class="pagin">
                    <ul>
                        <li> <a href="javascript:void(0)"><img src="assets/imgs/double-left-arrows-symbol.svg" alt="arrow"></a>
                        </li>
                        <li><a href="javascript:void(0)"><img src="assets/imgs/left-arrow.svg" alt="arrow"></a>
                        </li>
                        <li><a href="javascript:void(0)" class="active">1</a></li>
                        <li><a href="javascript:void(0)">2</a></li>
                        <li><a href="javascript:void(0)">3</a></li>
                        <li><a href="javascript:void(0)">4</a></li>
                        <li><a href="javascript:void(0)">5</a></li>
                        <li><a href="javascript:void(0)">6</a></li>
                        <li> <a href="javascript:void(0)"><img src="assets/imgs/right-arrow.svg" alt="arrow"></a></li>
                        <li><a href="javascript:void(0)"><img src="assets/imgs/fast-forward-double-right-arrows-symbol.svg" alt="arrow"></a>
                        </li>

                    </ul>
                </div>
                <div class="shown">
                    <h2>Show 
                        <span>
                            <select name="shown" id="shown">
                                <option value="shown1">10</option>
                                <option value="shown2">20</option>
                                <option value="shown3">50</option>
                                <option value="shown4">100</option>
                            </select>
                        </span>
                        Entries
                    </h2>
                </div>
            </div>
          
        </div>
    </div>
</div>