<app-header></app-header>
<app-sidenav></app-sidenav>
<div class="MainMargin">
    <div class="mainHead">
        <h4 class="Title">Sub-admins Management</h4>
    </div>
    <div class="marginInner">
        <div class="DashboardArea">

            <div class="sideBtn DisFlex FixSearch">
                <div class="form-group" style="position: relative;">
                    <input type="text" class="form-control" style="padding-right: 30px;" placeholder="Search" name="" id="">
                    <a href="javaScript:void(0)" class="SearchAbsolute"><img src="assets/imgs/search.svg" style="width: 16px;" alt="rotate-left" class="img-fluid"></a>
                </div>
                <a [routerLink]="['/add-sub-admin']" class="Button" >Add New</a>
            </div>

            <div class="TableList">
                <div class="dragscroll">
                    <table id="example" class="table table-bordered " cellpadding="0" width="100%">
                        <thead>
                            <tr>
                                <th>S.No</th>
                                <th>Sub ID</th>
                                <th> Name</th>
                                <th>Assigned Permission</th>
                                <th>Created On</th>
                                <th>Modified  On </th>
                                <th>Status </th>
                                <th>Action </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>S-64</td>
                                <td>VisHu</td>
                                <td>User Management, Post Management, <br> Offer Management, & Quiz Management</td>
                                <td>24-05-2021 <br> 11:12:12</td>
                                <td>24-05-2021 <br> 11:12:12</td>
                                <td class="Green">Active</td>
                                <td class="ActionImg">
                                    <a [routerLink]="['/sub-admin-detail']">
                                        <img src="assets/imgs/eye.svg" alt="">
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>S-64</td>
                                <td>VisHu</td>
                                <td>User Management, Offer Management, <br> & Quiz Management</td>
                                <td>24-05-2021 <br> 11:12:12</td>
                                <td>24-05-2021 <br> 11:12:12</td>
                                <td class="Green">Active</td>
                                <td class="ActionImg">
                                    <a [routerLink]="['/sub-admin-detail']">
                                        <img src="assets/imgs/eye.svg" alt="">
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>S-64</td>
                                <td>VisHu</td>
                                <td>User Management, Post Management, <br> & Quiz Management</td>
                                <td>24-05-2021 <br> 11:12:12</td>
                                <td>24-05-2021 <br> 11:12:12</td>
                                <td class="Green">Active</td>
                                <td class="ActionImg">
                                    <a [routerLink]="['/sub-admin-detail']">
                                        <img src="assets/imgs/eye.svg" alt="">
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>4</td>
                                <td>S-64</td>
                                <td>VisHu</td>
                                <td>Inquiry Managemen</td>
                                <td>24-05-2021 <br> 11:12:12</td>
                                <td>24-05-2021 <br> 11:12:12</td>
                                <td class="Green">Active</td>
                                <td class="ActionImg">
                                    <a [routerLink]="['/sub-admin-detail']">
                                        <img src="assets/imgs/eye.svg" alt="">
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>5</td>
                                <td>S-64</td>
                                <td>VisHu</td>
                                <td>User Management & Quiz Management</td>
                                <td>24-05-2021 <br> 11:12:12</td>
                                <td>24-05-2021 <br> 11:12:12</td>
                                <td class="Red">Inactive</td>
                                <td class="ActionImg">
                                    <a [routerLink]="['/sub-admin-detail']">
                                        <img src="assets/imgs/eye.svg" alt="">
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>6</td>
                                <td>S-64</td>
                                <td>VisHu</td>
                                <td>Fianance Management</td>
                                <td>24-05-2021 <br> 11:12:12</td>
                                <td>24-05-2021 <br> 11:12:12</td>
                                <td class="Green">Active</td>
                                <td class="ActionImg">
                                    <a [routerLink]="['/sub-admin-detail']">
                                        <img src="assets/imgs/eye.svg" alt="">
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>7</td>
                                <td>S-64</td>
                                <td>VisHu</td>
                                <td>User Management & Quiz Management</td>
                                <td>24-05-2021 <br> 11:12:12</td>
                                <td>24-05-2021 <br> 11:12:12</td>
                                <td class="Green">Active</td>
                                <td class="ActionImg">
                                    <a [routerLink]="['/sub-admin-detail']">
                                        <img src="assets/imgs/eye.svg" alt="">
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>8</td>
                                <td>S-64</td>
                                <td>VisHu</td>
                                <td>User Management, Post Management <br> & Quiz Management</td>
                                <td>24-05-2021 <br> 11:12:12</td>
                                <td>24-05-2021 <br> 11:12:12</td>
                                <td class="Red">Inactive</td>
                                <td class="ActionImg">
                                    <a [routerLink]="['/sub-admin-detail']">
                                        <img src="assets/imgs/eye.svg" alt="">
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>9</td>
                                <td>S-64</td>
                                <td>VisHu</td>
                                <td>Fianance Management</td>
                                <td>24-05-2021 <br> 11:12:12</td>
                                <td>24-05-2021 <br> 11:12:12</td>
                                <td class="Green">Active</td>
                                <td class="ActionImg">
                                    <a [routerLink]="['/sub-admin-detail']">
                                        <img src="assets/imgs/eye.svg" alt="">
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>10</td>
                                <td>S-64</td>
                                <td>VisHu</td>
                                <td>Inquiry Management</td>
                                <td>24-05-2021 <br> 11:12:12</td>
                                <td>24-05-2021 <br> 11:12:12</td>
                                <td class="Red">Inactive</td>
                                <td class="ActionImg">
                                    <a [routerLink]="['/sub-admin-detail']">
                                        <img src="assets/imgs/eye.svg" alt="">
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="pagination">
                <div class="record">
                    <p>Total Records: <span class="orGread">10</span></p>
                </div>
                <div class="pagin">
                    <ul>
                        <li> <a href="javascript:void(0)"><img src="assets/imgs/double-left-arrows-symbol.svg" alt="arrow"></a>
                        </li>
                        <li><a href="javascript:void(0)"><img src="assets/imgs/left-arrow.svg" alt="arrow"></a>
                        </li>
                        <li><a href="javascript:void(0)" class="active">1</a></li>
                        <li><a href="javascript:void(0)">2</a></li>
                        <li><a href="javascript:void(0)">3</a></li>
                        <li><a href="javascript:void(0)">4</a></li>
                        <li><a href="javascript:void(0)">5</a></li>
                        <li><a href="javascript:void(0)">6</a></li>
                        <li> <a href="javascript:void(0)"><img src="assets/imgs/right-arrow.svg" alt="arrow"></a></li>
                        <li><a href="javascript:void(0)"><img src="assets/imgs/fast-forward-double-right-arrows-symbol.svg" alt="arrow"></a>
                        </li>

                    </ul>
                </div>
                <div class="shown">
                    <h2>Show 
                        <span>
                            <select name="shown" id="shown">
                                <option value="shown1">10</option>
                                <option value="shown2">20</option>
                                <option value="shown3">50</option>
                                <option value="shown4">100</option>
                            </select>
                        </span>
                        Entries
                    </h2>
                </div>
            </div>
        </div>
    </div>
</div>