<app-header></app-header>
<app-sidenav></app-sidenav>
<div class="MainMargin">
    <div class="mainHead">
        <h4 class="Title">User Management/User Details</h4>
    </div>
    <div class="marginInner TableList">
        <div class="DashboardArea">
            <div class="Tabcontainer">
                <div class="booking-tabs tabFlex">
                    <ul class="nav nav-tabs" style="display: flex;justify-content: flex-end;">
                        <li class="active"><a data-toggle="tab" class="active" href="#Personal">Personal Information</a></li>
                        <li><a data-toggle="tab" href="#Wallet">Wallet Information</a></li>
                        <li><a data-toggle="tab" href="#Payment">Payment Information</a></li>
                        <li><a data-toggle="tab" href="#Transactions">Transactions</a></li>
                        <li><a data-toggle="tab" href="#Posts">Posts</a></li>
                    </ul>
                </div>
                <div class="tab-content">
                    <div id="Personal" class="tab-pane fade in active show">
                        <div class="pt-4 pl-3 pb-3">
                            <div class="row">
                                <div class="col-md-9">
                                    <div class="order-view mt30 max-WT-700 mrgn-0-auto">
                                        <div class="main-block-innner mb40 mt40">
                                            <div class="add-store-block input-style">
                                                <div class="form-group row">
                                                    <strong class="col-md-3">User Id	 :</strong>
                                                    <div class="col-md-9"><label>U-64</label></div>
                                                </div>
                                                <div class="form-group row">
                                                    <strong class="col-md-3"> Name	 :</strong>
                                                    <div class="col-md-9"><label>VisHu</label></div>
                                                </div>
                                                <div class="form-group row">
                                                    <strong class="col-md-3">Badge		 :</strong>
                                                    <div class="col-md-9"><label>Beginner</label></div>
                                                </div>
                                                <div class="form-group row">
                                                    <strong class="col-md-3">Number :</strong>
                                                    <div class="col-md-9"><label>9876543210	</label></div>
                                                </div>
                                                <div class="form-group row">
                                                    <strong class="col-md-3">Gender :</strong>
                                                    <div class="col-md-9"><label>Male</label></div>
                                                </div>
                                                <div class="form-group row">
                                                    <strong class="col-md-3">Date of Birth  :</strong>
                                                    <div class="col-md-9"><label>02-02-1995</label></div>
                                                </div>
                                                <div class="form-group row">
                                                    <strong class="col-md-3">Registration Date/Time  :</strong>
                                                    <div class="col-md-9"><label>24-05-2021 & 11:12:12</label></div>
                                                </div>
                                                <div class="form-group row">
                                                    <strong class="col-md-3">Location :</strong>
                                                    <div class="col-md-9"><label>A-124 Seventh Streen, New York</label></div>
                                                </div>
                                                <div class="form-group row">
                                                    <strong class="col-md-3">Bio :</strong>
                                                    <div class="col-md-9"><label>Lorem ipsum dolor sit amet, consectetur adipiscing elit. <br> Aenean euismod bibendum laoreet. Proin gravida dolor sit</label></div>
                                                </div>
                                                <div class="form-group row">
                                                    <strong class="col-md-3">Status  :</strong>
                                                    <div class="col-md-9"><label>Inactive (Since 2 Weeks)</label></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="userSideProfile">
                                        <img src="assets/imgs/profile.jpg" alt="" class="img-fluid">
                                    </div>
                                </div>
                            </div>
                        </div>
                        

                        <div class="special">
                            <h3 class="Title mb-3">Special Bonus</h3>
                            <div class="whitebg">
                                <h3 class="normal">Select Bonus Type</h3>
                                <ul class="DisFlex radioB">
                                    <li class=" first">
                                        <div class="radio">
                                            <input id="radio-1" name="radio1" type="radio" checked>
                                            <label for="radio-1" class="radio-label">Real Money    </label>
                                        </div>
                                    </li>
                                    <li class="second">
                                        <div class="radio">
                                            <input id="radio-2" name="radio1" type="radio">
                                            <label for="radio-2" class="radio-label">Chashback</label>
                                        </div>
                                    </li>
                                    <li class=" first">
                                        <div class="radio">
                                            <input id="radio-3" name="radio1" type="radio" >
                                            <label for="radio-3" class="radio-label">Chips Bonus</label>
                                        </div>
                                    </li>
                                    <li class="second">
                                        <div class="radio">
                                            <input id="radio-4" name="radio1" type="radio">
                                            <label for="radio-4" class="radio-label">Bliss Bundle</label>
                                        </div>
                                    </li>
                                </ul>

                                <h3 class="normal">Available Bonus</h3>
                                <select name="" id="" class="form-control">
                                    <option value="">Select Available Bonus</option>
                                    <option value="">10</option>
                                    <option value="">20</option>
                                    <option value="">30</option>
                                </select>
                            </div>
                        </div>

                        <hr>

                        <div class="special planTitle">
                            <h3 class="Title mb-3 mt-4">Bliss Bundle Package</h3>
                            <div class="whitebg">
                                <div class="row">
                                    <div class="col-md-5">
                                        <ul class="DisFlex">
                                            <li>Package Title</li>
                                            <li>6 Months Plan</li>
                                        </ul>
                                        <ul  class="DisFlex">
                                            <li>Package Amount</li>
                                            <li>Rs. 3,000.00</li>
                                        </ul>
                                        <ul  class="DisFlex">
                                            <li>Purchased On</li>
                                            <li>24-05-2021</li>
                                        </ul>
                                    </div>
                                    <div class="col-md-2"></div>
                                    <div class="col-md-5">
                                        <ul>
                                            <li>Package Remaining Duration</li>
                                        </ul>
                                        <div class="duration">
                                            <b>9612 Hours : 35 Minutes : 17 Sec</b>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="blockAccount">
                            <ul class="text-center">
                                <li>Block for 1 Day</li>
                                <li>Block for 1 Week</li>
                                <li>Block for 1 Month</li>
                                <li class="btnRed">Delete Account</li>
                            </ul>
                        </div>

                    </div>
                    <div id="Wallet" class="tab-pane ">
                        <div class="special planTitle">
                            <h3 class="Title mb-3 mt-4">Real Money Wallet Information</h3>
                            <div class="whitebg">
                                <div class="row">
                                    <div class="col-md-5">
                                        <ul class="DisFlex">
                                            <li>Wallet Id</li>
                                            <li>#114541Df5gH</li>
                                        </ul>
                                        <ul  class="DisFlex">
                                            <li>Deposite Amount</li>
                                            <li>$ 100.00</li>
                                        </ul>
                                        <ul  class="DisFlex">
                                            <li>Bonus Amount</li>
                                            <li>$ 100.00</li>
                                        </ul>
                                    </div>
                                    <div class="col-md-2"></div>
                                    <div class="col-md-5">
                                        <ul class="DisFlex">
                                            <li>Total Available Amount</li>
                                            <li>$ 100.00</li>
                                        </ul>
                                        <ul class="DisFlex">
                                            <li>Winning Amount</li>
                                            <li>$ 100.00</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="special planTitle">
                            <h3 class="Title mb-3 mt-4">Chips Wallet Information</h3>
                            <div class="whitebg">
                                <div class="row">
                                    <div class="col-md-5">
                                        <ul class="DisFlex">
                                            <li>Wallet Id</li>
                                            <li>#114541Df5gH</li>
                                        </ul>
                                        <ul  class="DisFlex">
                                            <li>Deposite Amount</li>
                                            <li>$ 100.00</li>
                                        </ul>
                                        <ul  class="DisFlex">
                                            <li>Bonus Amount</li>
                                            <li>$ 100.00</li>
                                        </ul>
                                    </div>
                                    <div class="col-md-2"></div>
                                    <div class="col-md-5">
                                        <ul class="DisFlex">
                                            <li>Total Available Amount</li>
                                            <li>$ 100.00</li>
                                        </ul>
                                        <ul class="DisFlex">
                                            <li>Winning Amount</li>
                                            <li>$ 100.00</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="Payment" class="tab-pane ">
                        <h3 class="Title pt-4 pb-3">Saved Card</h3>
                        <div class="wrapperCard DisFlex jcsi">
                            <div class="cc visa mr-5">
                              <svg width="292" height="87">
                                <path d="M 0 0 C 50 50 250 0 300 87"></path>
                              </svg>
                              <div class="container">
                                <div class="type">
                                  MasterCard 
                                </div>
                                <div class="circuit">
                                 <img src="assets/imgs/wifi.svg" class="w25" alt="">
                                </div>
                              </div>
                              <div class="holder">
                                  <span class="number">1234 - 5678 - 9012 - 3456</span>
                                  <span class="valid">Valid Till - 12/25</span>
                                  <span class="name">Vishal Kumar Singh</span>
                              </div>
                            </div>
                              
                            <div class="cc mastercard">
                              <svg width="292" height="87">
                                <path d="M 0 0 C 50 50 250 0 300 87"></path>
                              </svg>
                              <div class="container">
                                <div class="type">
                                  MasterCard 
                                </div>
                                <div class="circuit">
                                    <img src="assets/imgs/wifi.svg" class="w25" alt="">
                                </div>
                              </div>
                              <div class="holder">
                                  <span class="number">1234 - 5678 - 9012 - 3456</span>
                                  <span class="valid">Valid Till - 12/25</span>
                                  <span class="name">Vishal Kumar Singh</span>
                              </div>
                            </div>
                        </div>

                        <h3 class="normal pt-5 pb-3">UPI ID : <i>vishu@ok</i></h3>
                          
                        <h3 class="Title">Bank Accounts</h3>

                        <div class="cardDetails DisFlex jcsi special">
                            <ul>
                                <li>Bank Name - Icici</li>
                                <li>Account Number - 0021xxxxxx623</li>
                                <li>Account Holder Name - Vishal Kr. singh</li>
                                <li>IFSC Code - Icici000xxx</li>
                            </ul>
                            <ul>
                                <li>Bank Name - Icici</li>
                                <li>Account Number - 0021xxxxxx623</li>
                                <li>Account Holder Name - Vishal Kr. singh</li>
                                <li>IFSC Code - Icici000xxx</li>
                            </ul>
                        </div>
                    </div>
                    <div id="Transactions" class="tab-pane ">
                        <div class="TableList">
                            <div class="dragscroll">
                                <table id="example" class="table table-bordered " cellpadding="0" width="100%">
                                    <thead>
                                        <tr>
                                            <th>S.No</th>
                                            <th>Transaction Id</th>
                                            <th>Amount</th>
                                            <th>Transaction type</th>
                                            <th> Date & Time </th>
                                            <th>Status </th>
                                            <th>action </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>1</td>
                                            <td>TD-64</td>
                                            <td>Rs. 50.00</td>
                                            <td>Winning</td>
                                            <td>24-05-2021 <br> 11:12:12</td>
                                            <td class="Green">Completed</td>
                                            <td class="ActionImg">
                                                <a href="javaScript:void(0)" data-toggle="modal" data-target="#tnx">
                                                    <img src="assets/imgs/eye.svg" alt="">
                                                </a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>2</td>
                                            <td>TD-64</td>
                                            <td>Rs. 50.00</td>
                                            <td>Winning</td>
                                            <td>24-05-2021 <br> 11:12:12</td>
                                            <td class="Red">Failed</td>
                                            <td class="ActionImg">
                                                <a href="javaScript:void(0)" data-toggle="modal" data-target="#tnx">
                                                    <img src="assets/imgs/eye.svg" alt="">
                                                </a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>3</td>
                                            <td>TD-64</td>
                                            <td>Rs. 50.00</td>
                                            <td>Winning</td>
                                            <td>24-05-2021 <br> 11:12:12</td>
                                            <td class="Yellow">Inprocess</td>
                                            <td class="ActionImg">
                                                <a href="javaScript:void(0)" data-toggle="modal" data-target="#tnx">
                                                    <img src="assets/imgs/eye.svg" alt="">
                                                </a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>4</td>
                                            <td>TD-64</td>
                                            <td>Rs. 50.00</td>
                                            <td>Winning</td>
                                            <td>24-05-2021 <br> 11:12:12</td>
                                            <td class="Green">Completed</td>
                                            <td class="ActionImg">
                                                <a href="javaScript:void(0)" data-toggle="modal" data-target="#tnx">
                                                    <img src="assets/imgs/eye.svg" alt="">
                                                </a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>5</td>
                                            <td>TD-64</td>
                                            <td>Rs. 50.00</td>
                                            <td>Winning</td>
                                            <td>24-05-2021 <br> 11:12:12</td>
                                            <td class="Green">Completed</td>
                                            <td class="ActionImg">
                                                <a href="javaScript:void(0)" data-toggle="modal" data-target="#tnx">
                                                    <img src="assets/imgs/eye.svg" alt="">
                                                </a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>6</td>
                                            <td>TD-64</td>
                                            <td>Rs. 50.00</td>
                                            <td>Winning</td>
                                            <td>24-05-2021 <br> 11:12:12</td>
                                            <td class="Green">Completed</td>
                                            <td class="ActionImg">
                                                <a href="javaScript:void(0)" data-toggle="modal" data-target="#tnx">
                                                    <img src="assets/imgs/eye.svg" alt="">
                                                </a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>7</td>
                                            <td>TD-64</td>
                                            <td>Rs. 50.00</td>
                                            <td>Winning</td>
                                            <td>24-05-2021 <br> 11:12:12</td>
                                            <td class="Green">Completed</td>
                                            <td class="ActionImg">
                                                <a href="javaScript:void(0)" data-toggle="modal" data-target="#tnx">
                                                    <img src="assets/imgs/eye.svg" alt="">
                                                </a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>8</td>
                                            <td>TD-64</td>
                                            <td>Rs. 50.00</td>
                                            <td>Winning</td>
                                            <td>24-05-2021 <br> 11:12:12</td>
                                            <td class="Green">Completed</td>
                                            <td class="ActionImg">
                                                <a href="javaScript:void(0)" data-toggle="modal" data-target="#tnx">
                                                    <img src="assets/imgs/eye.svg" alt="">
                                                </a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>9</td>
                                            <td>TD-64</td>
                                            <td>Rs. 50.00</td>
                                            <td>Winning</td>
                                            <td>24-05-2021 <br> 11:12:12</td>
                                            <td class="Green">Completed</td>
                                            <td class="ActionImg">
                                                <a href="javaScript:void(0)" data-toggle="modal" data-target="#tnx">
                                                    <img src="assets/imgs/eye.svg" alt="">
                                                </a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>10</td>
                                            <td>TD-64</td>
                                            <td>Rs. 50.00</td>
                                            <td>Winning</td>
                                            <td>24-05-2021 <br> 11:12:12</td>
                                            <td class="Green">Completed</td>
                                            <td class="ActionImg">
                                                <a href="javaScript:void(0)" data-toggle="modal" data-target="#tnx">
                                                    <img src="assets/imgs/eye.svg" alt="">
                                                </a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                      
                        <div class="pagination">
                            <div class="record">
                                <p>Total Records: <span class="orGread">10</span></p>
                            </div>
                            <div class="pagin">
                                <ul>
                                    <li> <a href="javascript:void(0)"><img src="assets/imgs/double-left-arrows-symbol.svg" alt="arrow"></a>
                                    </li>
                                    <li><a href="javascript:void(0)"><img src="assets/imgs/left-arrow.svg" alt="arrow"></a>
                                    </li>
                                    <li><a href="javascript:void(0)" class="active">1</a></li>
                                    <li><a href="javascript:void(0)">2</a></li>
                                    <li><a href="javascript:void(0)">3</a></li>
                                    <li><a href="javascript:void(0)">4</a></li>
                                    <li><a href="javascript:void(0)">5</a></li>
                                    <li><a href="javascript:void(0)">6</a></li>
                                    <li> <a href="javascript:void(0)"><img src="assets/imgs/right-arrow.svg" alt="arrow"></a></li>
                                    <li><a href="javascript:void(0)"><img src="assets/imgs/fast-forward-double-right-arrows-symbol.svg" alt="arrow"></a>
                                    </li>
            
                                </ul>
                            </div>
                            <div class="shown">
                                <h2>Show 
                                    <span>
                                        <select name="shown" id="shown">
                                            <option value="shown1">10</option>
                                            <option value="shown2">20</option>
                                            <option value="shown3">50</option>
                                            <option value="shown4">100</option>
                                        </select>
                                    </span>
                                    Entries
                                </h2>
                            </div>
                        </div>
                    </div>
                    <div id="Posts" class="tab-pane ">
                        <h3 class="Title pt-4 pb-3">Uploaded Posts (215)</h3>
                        <div class="TableList">
                            <div class="dragscroll">
                                <table id="example" class="table table-bordered " cellpadding="0" width="100%">
                                    <thead>
                                        <tr>
                                            <th>S.No</th>
                                            <th>Post Description</th>
                                            <th>Post Image</th>
                                            <th>Post type</th>
                                            <th>Uploaded On</th>
                                            <th>Likes </th>
                                            <th>Dislikes </th>
                                            <th>Comments </th>
                                            <th>action </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>1</td>
                                            <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod</td>
                                            <td class="postImg"><img src="assets/imgs/profile.jpg" alt="" class="img-fluid"></td>
                                            <td>Public</td>
                                            <td>2h ago</td>
                                            <td>132</td>
                                            <td>132</td>
                                            <td>132</td>
                                            <td class="ActionImg">
                                                <a [routerLink]="['/post-management-detail']">
                                                    <img src="assets/imgs/eye.svg" alt="">
                                                </a>
                                                <label class="switch ">
                                                    <input type="checkbox">
                                                    <span class="slider"></span>
                                                </label>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>2</td>
                                            <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod</td>
                                            <td class="postImg"><img src="assets/imgs/profile.jpg" alt="" class="img-fluid"></td>
                                            <td>Public</td>
                                            <td>2h ago</td>
                                            <td>132</td>
                                            <td>132</td>
                                            <td>132</td>
                                            <td class="ActionImg">
                                                <a [routerLink]="['/post-management-detail']">
                                                    <img src="assets/imgs/eye.svg" alt="">
                                                </a>
                                                <label class="switch ">
                                                    <input type="checkbox">
                                                    <span class="slider"></span>
                                                </label>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>3</td>
                                            <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod</td>
                                            <td class="postImg"><img src="assets/imgs/profile.jpg" alt="" class="img-fluid"></td>
                                            <td>Public</td>
                                            <td>2h ago</td>
                                            <td>132</td>
                                            <td>132</td>
                                            <td>132</td>
                                            <td class="ActionImg">
                                                <a [routerLink]="['/post-management-detail']">
                                                    <img src="assets/imgs/eye.svg" alt="">
                                                </a>
                                                <label class="switch ">
                                                    <input type="checkbox">
                                                    <span class="slider"></span>
                                                </label>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>4</td>
                                            <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod</td>
                                            <td class="postImg"><img src="assets/imgs/profile.jpg" alt="" class="img-fluid"></td>
                                            <td>Public</td>
                                            <td>2h ago</td>
                                            <td>132</td>
                                            <td>132</td>
                                            <td>132</td>
                                            <td class="ActionImg">
                                                <a [routerLink]="['/post-management-detail']">
                                                    <img src="assets/imgs/eye.svg" alt="">
                                                </a>
                                                <label class="switch ">
                                                    <input type="checkbox">
                                                    <span class="slider"></span>
                                                </label>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>5</td>
                                            <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod</td>
                                            <td class="postImg"><img src="assets/imgs/profile.jpg" alt="" class="img-fluid"></td>
                                            <td>Public</td>
                                            <td>2h ago</td>
                                            <td>132</td>
                                            <td>132</td>
                                            <td>132</td>
                                            <td class="ActionImg">
                                                <a [routerLink]="['/post-management-detail']">
                                                    <img src="assets/imgs/eye.svg" alt="">
                                                </a>
                                                <label class="switch ">
                                                    <input type="checkbox">
                                                    <span class="slider"></span>
                                                </label>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>6</td>
                                            <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod</td>
                                            <td class="postImg"><img src="assets/imgs/profile.jpg" alt="" class="img-fluid"></td>
                                            <td>Public</td>
                                            <td>2h ago</td>
                                            <td>132</td>
                                            <td>132</td>
                                            <td>132</td>
                                            <td class="ActionImg">
                                                <a [routerLink]="['/post-management-detail']">
                                                    <img src="assets/imgs/eye.svg" alt="">
                                                </a>
                                                <label class="switch ">
                                                    <input type="checkbox">
                                                    <span class="slider"></span>
                                                </label>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>7</td>
                                            <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod</td>
                                            <td class="postImg"><img src="assets/imgs/profile.jpg" alt="" class="img-fluid"></td>
                                            <td>Public</td>
                                            <td>2h ago</td>
                                            <td>132</td>
                                            <td>132</td>
                                            <td>132</td>
                                            <td class="ActionImg">
                                                <a [routerLink]="['/post-management-detail']">
                                                    <img src="assets/imgs/eye.svg" alt="">
                                                </a>
                                                <label class="switch ">
                                                    <input type="checkbox">
                                                    <span class="slider"></span>
                                                </label>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>8</td>
                                            <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod</td>
                                            <td class="postImg"><img src="assets/imgs/profile.jpg" alt="" class="img-fluid"></td>
                                            <td>Public</td>
                                            <td>2h ago</td>
                                            <td>132</td>
                                            <td>132</td>
                                            <td>132</td>
                                            <td class="ActionImg">
                                                <a [routerLink]="['/post-management-detail']">
                                                    <img src="assets/imgs/eye.svg" alt="">
                                                </a>
                                                <label class="switch ">
                                                    <input type="checkbox">
                                                    <span class="slider"></span>
                                                </label>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>9</td>
                                            <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod</td>
                                            <td class="postImg"><img src="assets/imgs/profile.jpg" alt="" class="img-fluid"></td>
                                            <td>Public</td>
                                            <td>2h ago</td>
                                            <td>132</td>
                                            <td>132</td>
                                            <td>132</td>
                                            <td class="ActionImg">
                                                <a [routerLink]="['/post-management-detail']">
                                                    <img src="assets/imgs/eye.svg" alt="">
                                                </a>
                                                <label class="switch ">
                                                    <input type="checkbox">
                                                    <span class="slider"></span>
                                                </label>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>10</td>
                                            <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod</td>
                                            <td class="postImg"><img src="assets/imgs/profile.jpg" alt="" class="img-fluid"></td>
                                            <td>Public</td>
                                            <td>2h ago</td>
                                            <td>132</td>
                                            <td>132</td>
                                            <td>132</td>
                                            <td class="ActionImg">
                                                <a [routerLink]="['/post-management-detail']">
                                                    <img src="assets/imgs/eye.svg" alt="">
                                                </a>
                                                <label class="switch ">
                                                    <input type="checkbox">
                                                    <span class="slider"></span>
                                                </label>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                      
                        <div class="pagination">
                            <div class="record">
                                <p>Total Records: <span class="orGread">10</span></p>
                            </div>
                            <div class="pagin">
                                <ul>
                                    <li> <a href="javascript:void(0)"><img src="assets/imgs/double-left-arrows-symbol.svg" alt="arrow"></a>
                                    </li>
                                    <li><a href="javascript:void(0)"><img src="assets/imgs/left-arrow.svg" alt="arrow"></a>
                                    </li>
                                    <li><a href="javascript:void(0)" class="active">1</a></li>
                                    <li><a href="javascript:void(0)">2</a></li>
                                    <li><a href="javascript:void(0)">3</a></li>
                                    <li><a href="javascript:void(0)">4</a></li>
                                    <li><a href="javascript:void(0)">5</a></li>
                                    <li><a href="javascript:void(0)">6</a></li>
                                    <li> <a href="javascript:void(0)"><img src="assets/imgs/right-arrow.svg" alt="arrow"></a></li>
                                    <li><a href="javascript:void(0)"><img src="assets/imgs/fast-forward-double-right-arrows-symbol.svg" alt="arrow"></a>
                                    </li>
            
                                </ul>
                            </div>
                            <div class="shown">
                                <h2>Show 
                                    <span>
                                        <select name="shown" id="shown">
                                            <option value="shown1">10</option>
                                            <option value="shown2">20</option>
                                            <option value="shown3">50</option>
                                            <option value="shown4">100</option>
                                        </select>
                                    </span>
                                    Entries
                                </h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="ModalBlock ModalBox">
    <div id="tnx" class="modal fade" role="dialog">
        <div class="modal-dialog" style="max-width: 700px;">
            <div class="modal-content">
                <div class="modal-body" style="    padding: 1rem 2rem 2rem;">
                    <div class="Decline FormModal">
                        <a href="JavaScript:Void(0);" class="CloseModal" data-dismiss="modal"><img src="assets/imgs/remove.svg" alt=""></a>
                        <h3>View Transaction Details</h3>
                        <div class="order-view mt30 max-WT-700 mrgn-0-auto">
                            <div class="main-block-innner mb40 mt40">
                                <div class="add-store-block input-style">
                                    <div class="form-group row">
                                        <strong class="col-md-4">Transaction Id	 :</strong>
                                        <div class="col-md-8"><label>TD-64</label></div>
                                    </div>
                                    <div class="form-group row">
                                        <strong class="col-md-4"> Amount	 :</strong>
                                        <div class="col-md-8"><label>Rs. 100.00</label></div>
                                    </div>
                                    <div class="form-group row">
                                        <strong class="col-md-4">Transaction Type		 :</strong>
                                        <div class="col-md-8"><label>Winning</label></div>
                                    </div>
                                    <div class="form-group row">
                                        <strong class="col-md-4">Date :</strong>
                                        <div class="col-md-8"><label>24-05-2021 & 11:12:12	</label></div>
                                    </div>
                                    <div class="form-group row">
                                        <strong class="col-md-4">Status :</strong>
                                        <div class="col-md-8"><label>Completed</label></div>
                                    </div>
                                    <div class="form-group row">
                                        <strong class="col-md-4">Description :</strong>
                                        <div class="col-md-8"><label>Lorem ipsum dolor sit amet, consectetur adipiscing elit. <br> Aenean euismod bibendum laoreet. Proin gravida dolor sit</label></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <h4 class="mb-3 mt-3 text-center">
                            <a href="JavaScript:Void(0);" class="Button-alt" data-dismiss="modal">Download PDF</a>
                        </h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>