<app-header></app-header>
<app-sidenav></app-sidenav>
<div class="MainMargin">
    <div class="mainHead">
        <h4 class="Title">Bliss Bundle Package Management</h4>
    </div>
    <div class="marginInner">
        <div class="DashboardArea">

            <div class="sideBtn DisFlex FixSearch">
                <div class="form-group" style="position: relative;">
                    <input type="text" class="form-control" style="padding-right: 30px;" placeholder="Search" name="" id="">
                    <a href="javaScript:void(0)" class="SearchAbsolute"><img src="assets/imgs/search.svg" style="width: 16px;" alt="rotate-left" class="img-fluid"></a>
                </div>
                <a href="javaScript:void(0)" data-toggle="modal" data-target="#Add" class="Button" >Add New</a>
            </div>

            <div class="TableList">
                <div class="dragscroll">
                    <table id="example" class="table table-bordered " cellpadding="0" width="100%">
                        <thead>
                            <tr>
                                <th>S.No</th>
                                <th>Package ID</th>
                                <th>Package Title</th>
                                <th>Amount</th>
                                <th>Purchased By</th>
                                <th>Uploaded on</th>
                                <th>Status </th>
                                <th>Action </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>P-64</td>
                                <td>1 Day Plan</td>
                                <td> Rs. 50.00</td>
                                <td>507</td>
                                <td>24-05-2021</td>
                                <td class="Green">Active</td>
                                <td class="ActionImg">
                                    <a href="javaScript:void(0)" data-toggle="modal" data-target="#Edit">
                                        <img src="assets/imgs/edit.svg" alt="">
                                    </a>
                                    <a href="javaScript:void(0)" data-toggle="modal" data-target="#Trash">
                                        <img src="assets/imgs/trash.svg" alt="">
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>P-64</td>
                                <td>1 Day Plan</td>
                                <td> Rs. 50.00</td>
                                <td>507</td>
                                <td>24-05-2021</td>
                                <td class="Green">Active</td>
                                <td class="ActionImg">
                                    <a href="javaScript:void(0)" data-toggle="modal" data-target="#Edit">
                                        <img src="assets/imgs/edit.svg" alt="">
                                    </a>
                                    <a href="javaScript:void(0)" data-toggle="modal" data-target="#Trash">
                                        <img src="assets/imgs/trash.svg" alt="">
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>P-64</td>
                                <td>1 Day Plan</td>
                                <td> Rs. 50.00</td>
                                <td>507</td>
                                <td>24-05-2021</td>
                                <td class="Green">Active</td>
                                <td class="ActionImg">
                                    <a href="javaScript:void(0)" data-toggle="modal" data-target="#Edit">
                                        <img src="assets/imgs/edit.svg" alt="">
                                    </a>
                                    <a href="javaScript:void(0)" data-toggle="modal" data-target="#Trash">
                                        <img src="assets/imgs/trash.svg" alt="">
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>4</td>
                                <td>P-64</td>
                                <td>1 Day Plan</td>
                                <td>Rs. 300.00</td>
                                <td>507</td>
                                <td>24-05-2021</td>
                                <td class="Red">Blocked</td>
                                <td class="ActionImg">
                                    <a href="javaScript:void(0)" data-toggle="modal" data-target="#Edit">
                                        <img src="assets/imgs/edit.svg" alt="">
                                    </a>
                                    <a href="javaScript:void(0)" data-toggle="modal" data-target="#Trash">
                                        <img src="assets/imgs/trash.svg" alt="">
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>5</td>
                                <td>P-64</td>
                                <td>1 Day Plan</td>
                                <td>Rs. 300.00</td>
                                <td>507</td>
                                <td>24-05-2021</td>
                                <td class="Green">Active</td>
                                <td class="ActionImg">
                                    <a href="javaScript:void(0)" data-toggle="modal" data-target="#Edit">
                                        <img src="assets/imgs/edit.svg" alt="">
                                    </a>
                                    <a href="javaScript:void(0)" data-toggle="modal" data-target="#Trash">
                                        <img src="assets/imgs/trash.svg" alt="">
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>6</td>
                                <td>P-64</td>
                                <td>30 Days Plan</td>
                                <td>Rs. 300.00</td>
                                <td>507</td>
                                <td>24-05-2021</td>
                                <td class="Green">Active</td>
                                <td class="ActionImg">
                                    <a href="javaScript:void(0)" data-toggle="modal" data-target="#Edit">
                                        <img src="assets/imgs/edit.svg" alt="">
                                    </a>
                                    <a href="javaScript:void(0)" data-toggle="modal" data-target="#Trash">
                                        <img src="assets/imgs/trash.svg" alt="">
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>7</td>
                                <td>P-64</td>
                                <td>7 Days Plan</td>
                                <td>Rs. 300.00</td>
                                <td>507</td>
                                <td>24-05-2021</td>
                                <td class="Red">Blocked</td>
                                <td class="ActionImg">
                                    <a href="javaScript:void(0)" data-toggle="modal" data-target="#Edit">
                                        <img src="assets/imgs/edit.svg" alt="">
                                    </a>
                                    <a href="javaScript:void(0)" data-toggle="modal" data-target="#Trash">
                                        <img src="assets/imgs/trash.svg" alt="">
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>8</td>
                                <td>P-64</td>
                                <td>1 Day Plan</td>
                                <td> Rs. 50.00</td>
                                <td>507</td>
                                <td>24-05-2021</td>
                                <td class="Green">Active</td>
                                <td class="ActionImg">
                                    <a href="javaScript:void(0)" data-toggle="modal" data-target="#Edit">
                                        <img src="assets/imgs/edit.svg" alt="">
                                    </a>
                                    <a href="javaScript:void(0)" data-toggle="modal" data-target="#Trash">
                                        <img src="assets/imgs/trash.svg" alt="">
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>9</td>
                                <td>P-64</td>
                                <td>1 Day Plan</td>
                                <td> Rs. 50.00</td>
                                <td>507</td>
                                <td>24-05-2021</td>
                                <td class="Green">Active</td>
                                <td class="ActionImg">
                                    <a href="javaScript:void(0)" data-toggle="modal" data-target="#Edit">
                                        <img src="assets/imgs/edit.svg" alt="">
                                    </a>
                                    <a href="javaScript:void(0)" data-toggle="modal" data-target="#Trash">
                                        <img src="assets/imgs/trash.svg" alt="">
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>10</td>
                                <td>P-64</td>
                                <td>10 Days Plan</td>
                                <td> Rs. 50.00</td>
                                <td>507</td>
                                <td>24-05-2021</td>
                                <td class="Red">Blocked</td>
                                <td class="ActionImg">
                                    <a href="javaScript:void(0)" data-toggle="modal" data-target="#Edit">
                                        <img src="assets/imgs/edit.svg" alt="">
                                    </a>
                                    <a href="javaScript:void(0)" data-toggle="modal" data-target="#Trash">
                                        <img src="assets/imgs/trash.svg" alt="">
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
          
        </div>
    </div>
</div>


<div class="ModalBlock ModalBox">
    <div id="Edit" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="Decline pl-3 pr-3">
                        <a href="JavaScript:Void(0);" class="CloseModal" data-dismiss="modal"><img src="assets/imgs/remove.svg" alt=""></a>
                        <h3>Edit New Package</h3>
                        <form class="formPadding">
                            <div class="form-group">  
                                <label> Package Title</label>
                                <input type="text" class="form-control" value="1 Day Plan">
                            </div>
                            <div class="form-group">  
                                <label> Package Amount</label>
                                <input type="text" class="form-control" value=" Rs. 50.00">
                            </div>
                        </form>
                        <h4 class="mb-3 text-center">
                            <a href="JavaScript:Void(0);" class="Button-alt" data-dismiss="modal">Update</a>
                        </h4>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="Trash" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="Decline FormModal">
                        <a href="JavaScript:Void(0);" class="CloseModal" data-dismiss="modal"><img src="assets/imgs/remove.svg" alt=""></a>
                        <h3>Delete Package</h3>
                        <div class=" warning">
                            <img src="assets/imgs/warning.svg" alt="" class="img-fluid">
                        </div>
                        <h6 class="pb-3 text-center">Do you really want to delete this package?</h6>
                        <h4 class="mb-3 mt-3 text-center">
                            <a href="JavaScript:Void(0);" class="Button btnGreen" data-dismiss="modal">Confirm</a>
                            <a href="JavaScript:Void(0);" class="Button-del ml-2" data-dismiss="modal">Decline</a>
                        </h4>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="Add" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="Decline pl-3 pr-3">
                        <a href="JavaScript:Void(0);" class="CloseModal" data-dismiss="modal"><img src="assets/imgs/remove.svg" alt=""></a>
                        <h3>Add New Package</h3>
                        <form class="formPadding">
                            <div class="form-group">  
                                <label>Enter  Package Title</label>
                                <input type="text" class="form-control" placeholder="Enter  Package Title">
                            </div>
                            <div class="form-group">  
                                <label>Enter Package Amount</label>
                                <input type="text" class="form-control" placeholder="Enter  Package Amount">
                            </div>
                        </form>
                        <h4 class="mb-3 text-center">
                            <a href="JavaScript:Void(0);" class="Button-alt" data-dismiss="modal">Add Package Plan</a>
                        </h4>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>