<app-header></app-header>
<app-sidenav></app-sidenav>
<div class="MainMargin">
    <div class="mainHead">
        <h4 class="Title">Statics Content Management</h4>
    </div>
    <div class="marginInner ">
        <div class="DashboardArea TableList">
            <div class="Tabcontainer">
                <div class="booking-tabs tabFlex">
                    <ul class="nav nav-tabs" style="display: flex;justify-content: flex-end;">
                        <li class="active"><a data-toggle="tab" class="active" href="#About">About Us</a></li>
                        <li><a data-toggle="tab" href="#Privacy">Privacy Policy</a></li>
                        <li><a data-toggle="tab" href="#Terms">Terms & Conditions</a></li>
                    </ul>
                </div>
                <div class="tab-content">
                    <div id="About" class="tab-pane fade in active show">
                        <div class="sideBtn DisFlex FixSearch pt-4">
                            <div>
                                <h4 class="Title mb-0">About Us</h4> 
                            </div>
                            <div class="">
                                <a href="javaScript:void(0)" class="Button-del" data-toggle="modal" data-target="#AboutUs">Edit</a>
                            </div>
                        </div>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                            the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley
                            of type and scrambled it to make a type specimen book. It has survived not only five centuries,
                            but also the leap into electronic typesetting, remaining essentially unchanged. It was
                            popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages,
                            and more recently with desktop publishing software like Aldus PageMaker including versions of
                            Lorem Ipsum</p>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                            the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley
                            of type and scrambled it to make a type specimen book. It has survived not only five centuries,
                            but also the leap into electronic typesetting, remaining essentially unchanged. It was
                            popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages,
                            and more recently with desktop publishing software like Aldus PageMaker including versions of
                            Lorem Ipsum</p>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                            the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley
                            of type and scrambled it to make a type specimen book. It has survived not only five centuries,
                            but also the leap into electronic typesetting, remaining essentially unchanged. It was
                            popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages,
                            and more recently with desktop publishing software like Aldus PageMaker including versions of
                            Lorem Ipsum</p>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                            the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley
                            of type and scrambled it to make a type specimen book. It has survived not only five centuries,
                            but also the leap into electronic typesetting, remaining essentially unchanged. It was
                            popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages,
                            and more recently with desktop publishing software like Aldus PageMaker including versions of
                            Lorem Ipsum</p>
                    </div>
                    <div id="Privacy" class="tab-pane ">
                        <div class="sideBtn DisFlex FixSearch pt-4">
                            <div>
                                <h4 class="Title mb-0">Privacy Policy</h4> 
                            </div>
                            <div class="">
                                <a href="javaScript:void(0)" class="Button-del" data-toggle="modal" data-target="#PrivacyPolicy">Edit</a>
                            </div>
                        </div>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                            the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley
                            of type and scrambled it to make a type specimen book. It has survived not only five centuries,
                            but also the leap into electronic typesetting, remaining essentially unchanged. It was
                            popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages,
                            and more recently with desktop publishing software like Aldus PageMaker including versions of
                            Lorem Ipsum</p>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                            the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley
                            of type and scrambled it to make a type specimen book. It has survived not only five centuries,
                            but also the leap into electronic typesetting, remaining essentially unchanged. It was
                            popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages,
                            and more recently with desktop publishing software like Aldus PageMaker including versions of
                            Lorem Ipsum</p>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                            the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley
                            of type and scrambled it to make a type specimen book. It has survived not only five centuries,
                            but also the leap into electronic typesetting, remaining essentially unchanged. It was
                            popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages,
                            and more recently with desktop publishing software like Aldus PageMaker including versions of
                            Lorem Ipsum</p>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                            the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley
                            of type and scrambled it to make a type specimen book. It has survived not only five centuries,
                            but also the leap into electronic typesetting, remaining essentially unchanged. It was
                            popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages,
                            and more recently with desktop publishing software like Aldus PageMaker including versions of
                            Lorem Ipsum</p>
                    </div>
                    <div id="Terms" class="tab-pane ">
                        <div class="sideBtn DisFlex FixSearch pt-4">
                            <div>
                                <h4 class="Title mb-0">Terms & Conditions</h4> 
                            </div>
                            <div class="">
                                <a href="javaScript:void(0)" class="Button-del" data-toggle="modal" data-target="#TermsConditions">Edit</a>
                            </div>
                        </div>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                            the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley
                            of type and scrambled it to make a type specimen book. It has survived not only five centuries,
                            but also the leap into electronic typesetting, remaining essentially unchanged. It was
                            popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages,
                            and more recently with desktop publishing software like Aldus PageMaker including versions of
                            Lorem Ipsum</p>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                            the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley
                            of type and scrambled it to make a type specimen book. It has survived not only five centuries,
                            but also the leap into electronic typesetting, remaining essentially unchanged. It was
                            popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages,
                            and more recently with desktop publishing software like Aldus PageMaker including versions of
                            Lorem Ipsum</p>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                            the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley
                            of type and scrambled it to make a type specimen book. It has survived not only five centuries,
                            but also the leap into electronic typesetting, remaining essentially unchanged. It was
                            popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages,
                            and more recently with desktop publishing software like Aldus PageMaker including versions of
                            Lorem Ipsum</p>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                            the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley
                            of type and scrambled it to make a type specimen book. It has survived not only five centuries,
                            but also the leap into electronic typesetting, remaining essentially unchanged. It was
                            popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages,
                            and more recently with desktop publishing software like Aldus PageMaker including versions of
                            Lorem Ipsum</p> 
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="ModalBlock ModalBox">
    <div id="AboutUs" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="Decline pl-3 pr-3">
                        <a href="JavaScript:Void(0);" class="CloseModal" data-dismiss="modal"><img src="assets/imgs/remove.svg" alt=""></a>
                        <h3>Edit About Us</h3>
                        <form class="formPadding">
                            <div class="form-group">  
                                <label>Title</label>
                                <input type="text" class="form-control" placeholder="Enter Title">
                            </div>
                            <div class="form-group">  
                                <label>Description</label>
                                <textarea name="" class="form-control" id="" cols="30"
                                    rows="10">Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam iste ea earum mollitia. Delectus aliquam facilis culpa voluptatum tenetur! Error laborum dolores accusantium et, ipsam omnis! Neque placeat rerum voluptas.</textarea>
                            </div>
                        </form>
                        <h4 class="mb-3 text-center">
                            <a href="JavaScript:Void(0);" class="Button-alt" data-dismiss="modal">Submit</a>
                        </h4>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="PrivacyPolicy" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="Decline pl-3 pr-3">
                        <a href="JavaScript:Void(0);" class="CloseModal" data-dismiss="modal"><img src="assets/imgs/remove.svg" alt=""></a>
                        <h3>Edit Privacy Policy</h3>
                        <form class="formPadding">
                            <div class="form-group">  
                                <label>Title</label>
                                <input type="text" class="form-control" placeholder="Enter Title">
                            </div>
                            <div class="form-group">  
                                <label>Description</label>
                                <textarea name="" class="form-control" id="" cols="30"
                                    rows="10">Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam iste ea earum mollitia. Delectus aliquam facilis culpa voluptatum tenetur! Error laborum dolores accusantium et, ipsam omnis! Neque placeat rerum voluptas.</textarea>
                            </div>
                        </form>
                        <h4 class="mb-3 text-center">
                            <a href="JavaScript:Void(0);" class="Button-alt" data-dismiss="modal">Submit</a>
                        </h4>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="TermsConditions" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="Decline pl-3 pr-3">
                        <a href="JavaScript:Void(0);" class="CloseModal" data-dismiss="modal"><img src="assets/imgs/remove.svg" alt=""></a>
                        <h3>Edit Terms & Conditions</h3>
                        <form class="formPadding">
                            <div class="form-group">  
                                <label>Title</label>
                                <input type="text" class="form-control" placeholder="Enter Title">
                            </div>
                            <div class="form-group">  
                                <label>Description</label>
                                <textarea name="" class="form-control" id="" cols="30"
                                    rows="10">Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam iste ea earum mollitia. Delectus aliquam facilis culpa voluptatum tenetur! Error laborum dolores accusantium et, ipsam omnis! Neque placeat rerum voluptas.</textarea>
                            </div>
                        </form>
                        <h4 class="mb-3 text-center">
                            <a href="JavaScript:Void(0);" class="Button-alt" data-dismiss="modal">Submit</a>
                        </h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>  