<div class="LoginArea">
    <div class="LoginBox">
            <div class="logoMainImg">
                <img src="assets/imgs/logo.png" alt="">
            </div>
        <h5 style="    margin: 0 0 15px;">Forgot your Password?</h5>
        <h6 class="mb-4">No Problem! Just provide your email address and we'll send you a reset link.</h6>
        <form class="formPadding">
            <div class="form-group">
                <input type="email" placeholder=" E-mail " class="form-control">
            </div>

            <button type="button"  [routerLink]="['/reset']" class="Login">Request Link</button>
            <div class="Checkboxs">
                <!-- <a  href="javaScript:void(0)" class="Button">Request Link</a> -->
                <a  [routerLink]="['/']">Back</a>
            </div>
        </form>
    </div>
</div>
