<div class="LoginArea" >
    <div class="LoginBox">
            <div class="logoMainImg">
                <img src="assets/imgs/logo.png" alt="">
            </div>
        <h5>Reset Password?</h5>
        <form class="formPadding">
            <div class="form-group">
                <input type="password" placeholder=" Enter New Password " class="form-control">
            </div>
            <div class="form-group">
                <input type="password" placeholder=" Enter Confirm Password " class="form-control">
            </div>

            <button type="button"  [routerLink]="['/dashboard']" class="Login">Request Link</button>
            <div class="Checkboxs">
                <!-- <a  href="javaScript:void(0)" class="Button">Request Link</a> -->
                <a  [routerLink]="['/']">Back</a>
            </div>
        </form>
    </div>
</div>
