<app-header></app-header>
<app-sidenav></app-sidenav>
<div class="MainMargin">
    <div class="mainHead">
        <h4 class="Title">Hourly Bonus Management/Edit Hourly Bonus</h4>
    </div>
    <div class="marginInner">
        <div class="DashboardArea">

            <div class="sideBtn DisFlex FixSearch">
                <div>
                    <h4 class="Title">Edit Hourly Bonus </h4> 
                </div>
                <div class="">
                    <a href="javaScript:void(0)" class="Button-del" data-toggle="modal" data-target="#Delete">Delete</a>
                </div>
            </div>

            <div class="content-area">
                <div class="inner-content">
                    <div class="row">
                        <div class="col-md-8">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">  
                                        <label>Title</label>
                                        <input type="text" placeholder="Enter Title" class="form-control">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">  
                                        <label>Type</label>
                                        <input type="text" placeholder="Enter Type" class="form-control">
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">  
                                        <label>Description</label>
                                        <textarea class="form-control"   cols="30" rows="6"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <h4 class="mb-3 mt-4 text-center">
                        <a [routerLink]="['/view-hourly-bonus']" class="Button" data-dismiss="modal">Save</a>
                    </h4>
                </div>
            </div>

          
        </div>
    </div>
</div>



<div class="ModalBlock ModalBox">
    <div id="Delete" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="Decline FormModal">
                        <a href="JavaScript:Void(0);" class="CloseModal" data-dismiss="modal"><img src="assets/imgs/remove.svg" alt=""></a>
                        <h3>Delete Hourly Bonus</h3>
                        <div class=" warning">
                            <img src="assets/imgs/warning.svg" alt="" class="img-fluid">
                        </div>
                        <h6 class="pb-3 text-center">Do you really want to delete hourly bonus?</h6>
                        <h4 class="mb-3 mt-3 text-center">
                            <a href="JavaScript:Void(0);" class="Button btnGreen" data-dismiss="modal">Confirm</a>
                            <a href="JavaScript:Void(0);" class="Button-del ml-2" data-dismiss="modal">Decline</a>
                        </h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>